<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Enter Password: </label>
    <input type="text" th:field="*{password}" id="surname"/>

    <input type="submit" value="Create!"/>

    <br/>
    <p>
        <label>Roles:
            <input th:type="checkbox" th:name="roles"
                   th:each="role : ${roles}"
                   th:checked="${user.hasRole(role)}"
                   th:text="${role.name}"
                   th:value="${role.name}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Update"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>