<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin title</title>
</head>
<body>
<table border="12">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getId()}">...</a></td>
        <td><span th:text="${user.getName()}">...</span></td>
        <td><span th:text="${user.getPassword()}">...</span></td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <a th:text="${role.getName()}">user</a>
            </div>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <!--            <a th:href="@{/kino/{id}(id=${film.getId()})}" th:text="${film.getTitle()}">user</a>-->
    </tr>
    </tbody>

</table>

<br/>
<hr/>
<br/>

<a th:href="@{/admin/new}">New User</a>

<br/>
<!--<hr/>-->
<br/>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="false">
    <input type="submit" value="Logout"/>
</form>

<!--<div>-->
<!--    <th:block th:each="film : ${films}">-->
<!--        <h1 th:text="${film}"></h1>-->
<!--    </th:block>-->
<!--</div>-->
</body>
</html>