<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User</title>
</head>
<body>
<h1> <p th:text="${user.getName()} + ', welcome spring boot security page!'">VALUE</p> </h1>

<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>

<br/>

<div th:each="role : ${user.getAuthorities()}">
    <a th:text="${role.getAuthority()}">user</a>
</div>

<br/>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="false">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>